@mixin reset {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin text {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: clamp(1.5rem, 3vw, 10rem);
}

@mixin pseudo {
    content: "User";
    position: absolute;
    top: 25%;
    width: clamp(50px,20%,10rem);
    height: 50%;
    background-color: #e2584d;

    font-size: 70%;
    @include flex;
}

@mixin image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    mix-blend-mode: multiply;
}

@mixin textalign {
    text-align: center;
    text-wrap: balance
}

$pad-block: 25px;
$font-fam: 'Ubuntu', sans-serif;
$font-size: clamp(1.5rem, 4vw, 10rem);

* {
    @include reset;
}

body {
    background-color: #122a33;
    overflow-x: hidden;

    header {
        width: 100vw;
        background-color: #ffac16;

        @include flex;

        padding-block: $pad-block;
        font-family: $font-fam;
        font-size: $font-size;


        box-shadow: 0px 5px 10px 10px #ffac16;

        color: #ce7e2b;
        @include textalign;
    }

    main {
        @include flex;
        flex-direction: column;


        gap: 3rem;
        padding-block: $pad-block;

        .counter {
            @include text;
            border: 5px solid #ffac16;
            padding-block: $pad-block;
            padding-inline: 15vw;

            position: relative;

            &::before {
                @include pseudo;
                left: -10%;

            }

            &::after {
                @include pseudo;
                content: "Code";
                right: -10%;
                left: none;
            }
        }

        .title {
            @include text;
            @include textalign;

        }

        .buttons {
            @include flex;
            gap: 5vw;

            .button {
                width: clamp(80px,15vw,100rem);
                aspect-ratio: 1/1;

                // border: 5px solid white;
                // border-radius: 50%;
            }

            #rock {
                background-image: url(Images/Rock.png);
                @include image;
            }

            #paper {
                background-image: url(Images/Paper.png);
                @include image;
            }

            #scissor {
                background-image: url(Images/Scissors.png);
                @include image;
            }
        }

        .text {
            @include text;
            text-transform: uppercase;
            font-size: clamp(1rem, 2vw, 10rem);
        }
    }
}
