* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #122a33;
  overflow-x: hidden;
}

body header {
  width: 100vw;
  background-color: #ffac16;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 25px;
  font-family: "Ubuntu", sans-serif;
  font-size: clamp(1.5rem, 4vw, 10rem);
  box-shadow: 0px 5px 10px 10px #ffac16;
  color: #ce7e2b;
  text-align: center;
  text-wrap: balance;
}

body main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding-block: 25px;
}

body main .counter {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: clamp(1.5rem, 3vw, 10rem);
  border: 5px solid #ffac16;
  padding-block: 25px;
  padding-inline: 15vw;
  position: relative;
}

body main .counter::before {
  content: "User";
  position: absolute;
  top: 25%;
  width: clamp(50px, 20%, 10rem);
  height: 50%;
  background-color: #e2584d;
  font-size: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -10%;
}

body main .counter::after {
  content: "User";
  position: absolute;
  top: 25%;
  width: clamp(50px, 20%, 10rem);
  height: 50%;
  background-color: #e2584d;
  font-size: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "Code";
  right: -10%;
  left: none;
}

body main .title {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: clamp(1.5rem, 3vw, 10rem);
  text-align: center;
  text-wrap: balance;
}

body main .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

body main .buttons .button {
  width: clamp(80px, 15vw, 100rem);
  aspect-ratio: 1/1;
}

body main .buttons #rock {
  background-image: url(Images/Rock.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
}

body main .buttons #paper {
  background-image: url(Images/Paper.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
}

body main .buttons #scissor {
  background-image: url(Images/Scissors.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
}

body main .text {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: clamp(1.5rem, 3vw, 10rem);
  text-transform: uppercase;
  font-size: clamp(1rem, 2vw, 10rem);
}
